body {
    background-color: rgb(240, 220, 238);
    box-sizing: border-box;
    margin: 0;
    padding: 5%;
        
    }

.container{
    background-color: white;
    width: 60%;    
    margin-left: auto;
    margin-right: auto;   
    border-radius: 30px;
    padding: 40px;
    @media only screen and (max-width: 600px) {
        padding: 0;
        width: 100%;
    }
    /* filter: drop-shadow(10px 10px 10px 10px #000); */
}
.image_container{
    width: 100%;
    display: flex;
    justify-content: center;    
}
.image_container img {
    width: inherit;
    border-radius: 10px;
}
.content_container{
    width: 90%;
    padding: 15px;
    @media only screen and (max-width: 600px) {
        padding: 15px;
        padding-top: 10px;
    }
        
    }


.content_box {
    width: 100%;
    padding-top: 10px;
}

.ingredients_list li {
    padding-top: 10px;
}


.content_box h2 {
    font-weight: 700;
    font-size: 40px;
    @media only screen and (max-width: 600px) {
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.box-2{
    padding-bottom: 30px;
    @media only screen and (max-width: 600px) {
        padding-left: 15px;
        padding-right: 15px;
        font-size: smaller;
        
        
    }
}

.Preparation_time{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 5px;
    background-color: rgb(210, 148, 148);
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
    width: 93%;
    padding-top: 10px; 
    }   
}
.Preparation_list li{
padding-top: 10px;

}



.Preparation_time h3{
    color: brown;
    }


    .content_box h3{
        color: brown;
    }



.table {
    width: 100%;
}

.table table{
    width: 100%;
}

.table table tr{
    width: 100%;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3) ;
    padding-top: 10px;
}

.table table tr td:nth-child(2){
    color: brown;
    padding-top: 10px;
    font-size: larger;
    
}

.table table tr td{
    width: 100%;
    padding-top: 10px;
    font-size: medium;
}
